<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/content/img/favicon.ico" type="image/x-icon">

    <title>WhatsChat - Login</title>

    <link rel="stylesheet" href="/content/css/usuario/usuario.css">
</head>

<body>
    <form id="Login">
        <div class="content">
            <div class="linha">
                <h1 class="titulo">Bem-vindo</h1 class="titulo">
            </div>
            <div class="linha">
                <input type="hidden" id="txtFotoUsuario" />
                <div class="thumb" id="fotoUsuario" style="background-image: url(/content/img/robot_grayscale.png);">
                </div>
                <input type="file" name="fotoUsuario" id="file_fotoUsuario" accept="image/*" style="display: none;" />
            </div>
            <div class="linha">
                <input type="text" id="txtNome" placeholder="Nome" maxlength="30" />
            </div>
            <div class="linha">
                <button type="submit" class="btn verde" id="btnEntrar">Entrar</button>
            </div>
        </div>

    </form>
    <script src="content/js/usuario.js"></script>
</body>

</html>