.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.font {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html body {
  margin: 0;
  padding: 0;
}
html #Login {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
html #Login .content {
  background-color: #ece5dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
html #Login .content .linha {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-basis: 1;
}
html #Login .content .linha:not(:last-of-type) {
  margin-bottom: 30px;
}
html #Login .content .linha .titulo {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  text-align: center;
  color: #075e54;
}
html #Login .content .linha .thumb {
  height: 150px;
  width: 150px;
  border-radius: 999999px;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
html #Login .content .linha .thumb:hover {
  opacity: 0.8;
  transition: 0.25s;
}
html #Login .content .linha .thumb:active {
  opacity: 1;
  transition: 0s;
}
html #Login .content .linha .thumb.error {
  border: 3px solid red;
}
html #Login .content .linha input[type="text"] {
  height: 40px;
  border: none;
  border-radius: 7px;
  padding: 3px 10px;
  color: #333;
  font-size: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
html #Login .content .linha input[type="text"].error {
  border: 2px solid red;
}
html #Login .content .linha .btn {
  width: 100%;
  height: 35px;
  max-width: 300px;
  border-radius: 7px;
  border: none;
  background-color: white;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
html #Login .content .linha .btn.verde {
  background-color: #075e54;
  color: white;
}
html #Login .content .linha .btn.verde:hover {
  background-color: #097669;
  transition: 0.25s;
}
html #Login .content .linha .btn.verde:active {
  background-color: #075e54;
  transition: 0s;
}
html #Login .content .linha .btn.vermelho {
  background-color: red;
  color: white;
}
