<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/content/img/favicon.ico" type="image/x-icon">

    <title>WhatsChat</title>

    <link rel="stylesheet" href="/content/css/index/index.css">
</head>

<body>
    <header>
        <div class="titulo">WhatsChat 1.0</div>
        <div class="barra-ferramentas">
            <button type="button" class="btnLogin" id="btnLogin" onclick="window.location.href = '/Usuario'">
                Entrar
                <i class="fas fa-sign-in-alt"></i>
            </button>
            <button type="button" class="btnLogout hide" id="btnLogout">
                Sair
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
    </header>
    <nav>
        <div class="item">
            <div class="foto" style="background-image: url(/content/img/robot_grayscale.png);"></div>
            <div class="nome">Marcos Friol</div>
        </div>
        <div class="item">
            <div class="foto" style="background-image: url(/content/img/robot_grayscale.png);"></div>
            <div class="nome">Eric</div>
        </div>
        <div class="item">
            <div class="foto" style="background-image: url(/content/img/robot_grayscale.png);"></div>
            <div class="nome">William</div>
        </div>
        <div class="item">
            <div class="foto" style="background-image: url(/content/img/robot_grayscale.png);"></div>
            <div class="nome">André</div>
        </div>
    </nav>
    <main>
        <div class="mensagem">
            <div class="nome">Marcos Friol</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
        <div class="mensagem">
            <div class="nome">Marcos</div>
            <div class="conteudo">Bom dia</div>
        </div>
    </main>
    <footer>
        <input type="text" class="mensagem" id="txtMensagem" maxlength="100" />
        <button type="button" class="enviar" id="btnEnviar"><i class="fas fa-paper-plane"></i></button>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="content/js/util.js"></script>
    <script src="content/js/index.js"></script>
</body>

</html>